@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$black_color: #1C1B1B;
$white_color: white;
$main_font: 'Roboto', sans-serif;

* {
  padding: 0;
  margin: 0;
}

header {
  background: #FFF;

  .container {
    max-width: 1064px;
    margin: auto;

    nav ul {
      list-style: none;
    }
  }

}

.nav-links ul {
  display: flex;

  li {
    margin-left: 28px;
  }
}

.nav-links ul li:first-child {
  margin-left: 14px;
}

.nav-links ul li:last-child {
  margin-right: 14px;
}

nav.nav-open {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-open .logo {
  position: absolute;
  top: 10%;
  left: calc(50% - 55px);

  .nav-links.fade-in {
    position: relative;
    margin: 88px auto;
  }
}

.nav-links.fade-in ul {
  display: block;
}

nav .nav-links .link {
  text-decoration: none;
  color: #1C1B1B;
  font: 16px/26px Roboto;
  font-style: normal;
  font-weight: 700;
  transition: all 300ms cubic-bezier(.9, 0, .33, 1);
}

.logo {
  position: absolute;
  top: 16px;
  left: calc(50% - 40px);

  img {
    width: 80px;
    height: 25px;
  }
}

.support {
  position: relative;

  ul {
    display: flex;
    position: relative;
    justify-content: center;
  }

  li {
    padding-top: 18px;
  }
}


.support ul li:first-of-type {
  margin-right: 15px;
  padding-top: 18px;
}


.support ul li:last-of-type {
  margin-left: 7px;
  padding-top: 14px;
}

.fall {
  background: #F0EFEB;
  padding: 9px 0 24px 0;

  .fall_container {
    display: flex;
    justify-content: space-between;
    max-width: 1064px;
    margin: auto;

    img {
      position: relative;
      right: -100px;
    }
  }

  .fall_text {
    margin-top: 90px;

    h1 {
      max-width: 534px;
      color: #000;
      font: 60px Roboto;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 42px;
    }

    h2 {
      max-width: 481px;
      color: #000;
      font: 24px Roboto;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 33px;
    }
    .shop_now {
      width: 129px;
      font: 17px 'Roboto';
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
      padding: 7px 23px 9px 23px;
      color: #FFF;
      border-radius: 14px;
      background: #000;
      text-align: center;
      display: inline-block;
    }
  }
}

.guide_sell {
  background: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 99px;

  .guide_container {
    max-width: 1064px;
    margin: auto;

    .guides {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        color: #000;
        text-align: center;
        font: 36px Roboto;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 27px;
      }

      p {
        max-width: 632px;
        color: #000;
        text-align: center;
        font: 20px Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 47px;
      }

      span {
        color: #000;
        text-align: center;
        font: 20px Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 88px;
      }
    }

    .sellers_text h2 {
      text-align: center;
      margin-bottom: 52px;
      color: #000;
      font: 36px Roboto;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .sellers {
      display: flex;
      justify-content: space-between;

      .cards {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          max-width: 156px;
          color: #000;
          text-align: center;
          font: 17px Roboto;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        img {
          margin-bottom: 27px;
        }

        h3 {
          margin-bottom: 17px;
        }

        span {
          color: #000;
          text-align: center;
          font: 17px Roboto;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 10px;
        }

        a {
          color: #000;
          text-align: center;
          font: 17px Roboto;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-decoration-line: underline;
        }
      }
    }
  }

}


.people {
  background: rgba(204, 204, 204, 0.30);
  padding-top: 76px;
  padding-bottom: 51px;
}

.p_and_s {
  max-width: 1064px;
  display: flex;
  align-items: center;
  margin: auto;

  img {
    width: 100%;
    display: block;
  }

  h2 {
    color: #000;
    font: 36px Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 31px;
  }

  p {
    max-width: 498px;
    color: #000;
    font: 36px Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
  }

  a {
    color: #000;
    font: 17px Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
  }

  .p_and_s_img {
    max-width: 385px;
    margin-right: 50px;
  }
}

.culture {
  background: rgba(204, 204, 204, 0.60);
  padding-top: 76px;
  padding-bottom: 51px;

  .p_and_s.heritage {
    max-width: 1064px;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    align-items: center;

    .heritage_text {
      margin-right: 50px;
      text-align: right;

      p {
        max-width: 513px;
        color: #000;
        font: 36px Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 40px;
      }
    }

    .heritage_img {

      img {
        width: 100%;
        display: block;
      }
    }
  }
}

.power {
  background: rgba(204, 204, 204, 0.30);
  padding-top: 76px;
  padding-bottom: 51px;

  p {
    max-width: 530px;
    color: #000;
    font: 36px Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
  }
}

.features {
  padding-top: 190px;
  padding-bottom: 85px;
  background: #FFF;

  .features_container {
    max-width: 1064px;
    margin: auto;

    h4 {
      color: #000;
      text-align: center;
      font: 36px Roboto;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 69px;
    }

    .circles {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: center;

      .sphere {
        width: 33%;
        margin-bottom: 26px;
      }
    }
  }
}

.circles .sphere:before {
  content: '';
  display: block;
  margin: auto auto 26px auto;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: #21F7EC;
}

.circles .sphere:nth-child(2):before {
  background: #33D3BC;
}

.circles .sphere:nth-child(3):before {
  background: #18A5C6;
}

.circles .sphere:nth-child(4):before {
  background: #D38F62;
}

.circles .sphere:nth-child(5):before {
  background: #F94C43;
}

.circles .sphere:nth-child(6):before {
  background: #D399FF;
}

.each {
  background: linear-gradient(
                  to top,
                  rgba(204, 204, 204, 0.30) 50%,
                  white 50%
  );
  padding-top: 52px;
  padding-bottom: 52px;

  .each_container {
    max-width: 1064px;
    margin: auto;

    h2 {
      color: #000;
      text-align: center;
      font: 36px Roboto;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 102px;
    }

    .each_thalby {
      display: flex;
      justify-content: space-between;

      .each_cards {
        max-width: 288px;

        img {
          margin-bottom: 35px;
        }

        h3 {
          width: 272px;
          color: #000;
          text-align: center;
          font: 24px Roboto;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.6px;
          margin-bottom: 34px;
        }

        span {
          display: block;
          color: #000;
          text-align: center;
          font: 20px Roboto;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 44px;
        }

        a {
          display: block;
          color: #000;
          text-align: center;
          font: 18px Roboto;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }
}


.keep {
  background: #FFF;
  padding-top: 79px;
  padding-bottom: 88px;

  .keep_container {
    max-width: 490px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;

    h2 {
      color: #000;
      text-align: center;
      font: 36px Roboto;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 10px;
    }

    h3 {
      color: #000;
      text-align: center;
      font: 17px Roboto;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 26px;
    }

    .form_subscribe {
      max-width: 366px;
      text-align: center;

      .names {
        width: 100%;
        display: flex;
        justify-content: space-between;

        input {
          max-width: 153px;
          height: 39px;
          margin-bottom: 18px;
          padding-left: 8px;
        }
      }

      #email {
        width: 100%;
        height: 39px;
        margin-bottom: 16px;
        padding-left: 8px;
      }

      #subscribe {
        width: 115px;
        font: 14px 'Roboto';
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        padding: 7px 23px 10px 23px;
        color: #FFF;
        border-radius: 14px;
        background: #000;
      }
    }
  }
}

footer {
  background: #020202;
  padding-top: 51px;
  padding-bottom: 44px;

  .footer_logo {
    max-width: 1064px;
    margin: auto;
    padding-bottom: 36px;
    display: flex;
    justify-content: space-between;

    a {
      color: #FFF;
      font: 14px Roboto;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
    }

    .links {
      display: flex;
      justify-content: space-between;

      ul li {
        color: #FFF;
        font: 14px Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: 21px; /* 150% */
        list-style: none;
        margin-right: 72px;
        margin-bottom: 12px;
      }

      a {
        text-decoration: none;
      }
    }
  }

  .logo_social {
    padding-left: 25px;
    padding-bottom: 42px;

    img {
      margin-right: 20px;
      margin-bottom: 25px;
    }

    .social {
      padding-left: 8px;
      max-width: 327px;
      display: block;
    }
  }

  p {
    color: #FFF;
    text-align: center;
    font: 14px Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 23.1px; /* 165% */
  }
}

.links ul li:first-child {
  color: #FFF;
  font: 14px Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 36px;
}